# Secrets
secrets/
*.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Build artifacts
dist/
build/
*.egg-info/

# IDE / Editor specific
.idea/
.vscode/
*.swp

# Pytest
.pytest_cache/
